@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow&display=swap');

* {
  font-family:monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {

  background-color: #f9f2f2;
  font-size: 1.3rem;
}
@mixin cs ($size){
  border: 1px solid rgba(0,0,0,0.6);
  box-shadow: -$size $size 0 0 rgba(0,0,0,0.2);
}

@mixin sl ($width,$margin){
  width: $width;
  margin: $margin auto;
}



div.as {
  text-align: center;
  
}
div.as > ul {
  list-style: none;
  width: 100%;
  margin-bottom: 20px;
  padding: 5px 0;
  background: rgba(231, 161, 161, 0.979);
  display: flex;
  justify-content: center;
  
  
}
div.as > ul > li  {
  float: left;
  width: 12%;
  height: 40px;
  line-height: 40px;
  position: relative;
  font-size: 17px;
  font-weight: bolder;
  color: rgba(231, 161, 161, 0.979);
  cursor: pointer;

}
div.as > ul > li:hover {
  background: rgba(231, 161, 161, 0.979);
  padding: 5px;
}

ul.drop-menu {
  position: relative;
  padding: 0;

}
ul.drop-menu li {
  margin: 0 5px;
  background: rgba(231, 161, 161, 0.979);
  color: rgba(231, 161, 161, 0.979);
  list-style: none;


  
}
ul.drop-menu li:hover {
  background: rgba(231, 161, 161, 0.979);

}

ul.drop-menu li ul{
  display: none;
  font-size: 14px;
}

ul.drop-menu li:hover> ul {
  display: block;
}





//Header

header{
  display: grid;
  padding: 1rem 0;
  margin: 2rem auto;
  @include sl(90vw,0);
  font-size: 15px;

  .logo{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Archivo Narrow";

    img{
      width: 100%;
    }

    div{
      padding: 0.5rem 0.8rem;
      margin-left: 6rem;
    }
  }
}

nav{
  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    li{
      padding: 1.8rem 1rem;
    }
  }
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;

}

.slider_container {
  margin: 30px auto;
  width: 80%;
  height: 39.5rem;
  position: relative;
  border: 2px solid;    
  border-color: rgb(219, 219, 219);
  z-index: -1; 

  img{
    width: 100%;
  }
}

.slider_container div {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}


.slider_container div {
  -webkit-animation: round 30s linear infinite;
          animation: round 30s linear infinite;
}

@-webkit-keyframes round {
  4% {
      opacity: 1;
      filter: alpha(opacity=100);

  }
  20% {
      opacity: 1;
      filter: alpha(opacity=100);

  }
  24% {
      opacity: 0;
      filter: alpha(opacity=0);

  }
}
@keyframes round {
  4% {
      opacity: 1;
      filter: alpha(opacity=100);
      /* 0 - 1秒 淡入*/
  }
  20% {
      opacity: 1;
      filter: alpha(opacity=100);

  }
  24% {
      opacity: 0;
      filter: alpha(opacity=0);

  }
}


.slider_container div:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.slider_container div:nth-child(2) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.slider_container div:nth-child(3) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.slider_container div:nth-child(4) {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

.slider_container div:nth-child(5) {
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}
.slider_container div:nth-child(6) {
  -webkit-animation-delay: 25s;
          animation-delay: 25s;
}

.slider_container span {    
  color: #000;
  background: #fff;
  position: absolute;
  left: 0%;
  top: 280px;
  width: 400px;
  height: 100px;
  font-size: 30px;
  text-align: center;
  line-height: 100px;
  -webkit-transform:scaleY(0);
      -ms-transform:scaleY(0);
          transform:scaleY(0);
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}

.slider_container:hover span {
  width: 100%;
  -webkit-transform:scaleY(1);
      -ms-transform:scaleY(1);
          transform:scaleY(1);
}

.slider_container:hover div {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}


div.a1{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
  grid-gap: 3rem;
  min-width: 30rem;
  padding: 2rem 7rem 3rem 10rem;
  img{

    width: 80%;
}
}



//section

section.articles{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
  grid-gap: 3rem;
  min-width: 30rem;
  padding: 1rem 5rem 1rem 5rem;
  @include sl(90vw,0);

  article{
    @include cs(0.3rem);
    margin-top: 1rem;
    margin-bottom: 1rem;
    img{
      width: 100%;
      height: auto;
     
    }
    .info{
      margin-top: 1rem;
      margin-bottom: 3rem;
      text-align: center ; 
      justify-content: center;
    }
    
  }
}

img.hot{
  width: 80%;
  padding: 1rem 0 3rem 0;
}

/*Links*/
.links{
  width: 100%;
  background-color: #433d3cf1;
  color: rgb(255, 255, 255);
  padding: 0 10rem 2rem 10rem;
  
  .links-inner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-gap: 20px;
    margin: 5rem 1.3rem 0 2rem ;
    color: rgb(255, 255, 255);
  }
  h3{
    font-size: 25px;
    color: rgb(255, 255, 255);
  
    padding: 1rem 0;

    img{
    width: 30px;
    height: 30px;
    padding: 0;
    }
  }
  li{

    margin-left: 2rem;
    padding-bottom: 1rem;
    list-style: none;
  
  }

  a{
    color: white;
    text-decoration: none;
    font-size: 15px;
  }
}

div.last{
  background-color: #433d3cf1;
  color: rgb(173, 173, 173);
  padding-bottom: 1rem;
  font-size: 14px;
  letter-spacing: 2px;
  text-shadow: black 0.1em 0.1em 0.2em;
}



@media(min-width:768px){
  header{
    grid-template-columns: repeat(3,1fr);
    -ms-grid-columns:1fr 1fr 1fr;

    .logo{
      justify-self:start ;
    }
  }
}